.profile-section {
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 10px; */
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 7px;
    object-fit: cover;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .profile-username {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-email {
    font-size: 14px;
    color: #777;
  }